.App {
    position: relative;
    overflow-x: clip;
}

.App>:nth-child(1) {
    position: relative;
    background: var(--black);
}

.gradient {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgba(255, 255, 255, 0.522);
    border-radius: 50%;
    filter: blur(100px);
    top: 4rem;
}